* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* Navbar */
header {
  background: white;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #6a5acd;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #6a5acd;
}

/* Hero Section */
.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #c3a5ff, #8c6bfa);
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: #fff;
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* Skills Section */
.skills {
  padding: 60px;
  background: white;
  text-align: center;
}

.skills h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.skill-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  background: #6a5acd;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.skill:hover {
  background: #7d6dff;
}

/* Projects */
.projects {
  padding: 60px;
  background: #f5f5f5;
}

.projects h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.project-card {
  background: white;
  padding: 20px;
  margin: 10px auto;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Contact Section */
.contact {
  padding: 50px;
  background: white;
  text-align: center;
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background: #6a5acd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
